@charset "utf-8";
/* CSS Document */

#mission {
padding:20px;
padding-top:0px;
margin-top:20px;
border-top-style:solid;
border-top-width:thin;
border-top-color:#CCC;
}

#missionContent{
padding-left:30px;
padding-right:30px;
}

#founder{
padding:20px;
margin-top:20px;
border-top-style:solid;
border-top-width:thin;
border-top-color:#CCC;	
}

#achievements{
padding:20px;
margin-top:20px;
border-top-style:solid;
border-top-width:thin;
border-top-color:#CCC;	

}

li{
padding-bottom:10px;	
}

#team{
border-top-style:solid;
border-top-width:thin;
border-top-color:#CCC;	
padding-left:30px;
padding-right:30px;

}

#founderContent{
padding-left:30px;
padding-right:30px;
}

#founderImage{
float:right;
padding:20px;	
}
.caption {
width:220px;
text-align:center;
font-size:small;
}
.teamImage{

margin-right:20px;
vertical-align:text-top;
float:left;
}
h2{
	font-size:large;
}
.clear{
	clear:both;
}

.memberDescription{

}
.teamMember{
margin-top:20px;
}