@charset "utf-8";
/* CSS Document */



#featuredContent{
padding-top:25px;	
}

#aboutSection{
	float:left;
margin:10px;
margin-left:0px;
padding:15px;	
padding-top:0px;
border-style:solid;
border-width:thin;
width:385px;
height:258px;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
border-color:#909090;
}


ul{
padding-left:15px;	
}


#achievements {
	float:left;
margin:10px;
padding:15px;	
padding-top:0px;
border-style:solid;
border-width:thin;
width:385px;
height:258px;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
border-color:#909090;
}
#clear{
clear:both;	
}


